<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hk.qingke.learn.usermanager.infrastructure.mapper.UserMapper">
    <update id="updateById" parameterType="hk.qingke.learn.usermanager.infrastructure.dos.UserDo">
        update t_user
        <set>
            <if test="userDo.username != null">username=#{userDo.username}</if>
            <if test="userDo.password != null">password=#{userDo.password}</if>
            <if test="userDo.email != null">email=#{userDo.email}</if>
        </set>
        <where>
            id=#{entityToDo.id}
        </where>
    </update>
    <select id="queryByUsername" resultType="hk.qingke.learn.usermanager.domain.UserEntity">
        select id, name, email from t_user where username=#{username}
    </select>

    <select id="queryByEmail" resultType="hk.qingke.learn.usermanager.domain.UserEntity">
        select id, name, email from t_user where email=#{email}
    </select>
</mapper>